# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/
idea/

# Environment variables
.env

# Python packaging
*.egg-info/
dist/
build/

# Databases
*.db
*.sqlite3

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
desktop.ini


